/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.cart-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    background-color: #8db2c3;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    
}

.cart-details h2 {
    margin-bottom: 10px;
}

.cart-details form {
    margin-top: 20px;
    color: gray;
}

.cart-details label {
    display: block;
    margin-bottom: 5px;
}

.cart-details input[type="text"],
.cart-details input[type="email"],
.cart-details textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #191818;
    border-radius: 5px;
    font-size: 16px;
}

.cart-details button {
    background-color: #333;
    color: hsl(313, 74%, 76%);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    background-color: hsla(114, 18%, 46%, 0.195);
    color: #101010;
    padding: 2em 0;
    text-align: center;
}

/* ... add more styles as needed ... */
